[Unit]
Description=<FIXME>
Documentation=<FIXME>
After=network-online.target

[Service]
User=<FIXME>
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
